@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: #000000;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Siddhartha Kumar Style: Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* The Horizontal Wrapper */
.horizontal-container {
  display: flex;
  width: 400%; /* Adjust based on number of projects */
  height: 100vh;
}